.navbar_dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  color: #fff;
}

.logo h3 {
  font-weight: 400;
  font-size: 26px;
}

.list_dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  font-size: 18px;
  font-weight: 300;
  color: #bebebe;
}

.list_dark li:hover {
  transition: all 0.3s;
  cursor: pointer;
  transform: translateY(-3px);
}

/*^ FOR LIGHT MODE */

.navbar_light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  color: #000;
}

.list_light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  font-size: 18px;
  font-weight: 300;
  color: #000;
}

.list_light li:hover {
  transition: all 0.3s;
  cursor: pointer;
  transform: translateY(-3px);
}