.main {
  background-color: #131313;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caption {
  width: 70%;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  font-weight: 300;
  text-align: justify;
  padding: 20px;
  margin-top: 60px;
}

.caption h1 {
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  margin-bottom: 8px;
  font-style: italic;
}

.navbar {
  width: 100%;
  margin-bottom: 20px;
  position: absolute;
  top: 0px;
}
